@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,200;1,300;1,500;1,600;1,800&family=Poppins:wght@300;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: hsl(44, 91%, 63%);
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 85, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #142641;
    --color-bg1: #323678;
    --color-bg2: #424890;

    --container-width-1g: 80%;
    --container-width-nd: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}

body {
    font-family: "Montserrat",sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background-color: var(--color-bg);
}

.container{
    width: var(--container-width-1g);
    margin: 0 auto;

}

section{
    padding: 6rem 0;
}

section h2{
    text-align: center;
    margin-bottom: 4rem;
}

h1,h2,h3,h4,h5{
    line-height: 1.2;
}

h1{
    font-size: 2.4rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
}

a{
    color: var(--color-white);
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn{
    display: inline-block;
    background: var(--color-black);
    padding:1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    border-radius: 10px;
    transition: var(--transition);

}
.btn:hover{
    background-color: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
    border-radius: 2rem;

}

.btn-primary{
    background: var(--color-danger);
    color: var(--color-white);

}



